@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.imgItemDetail {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: rgba(141, 121, 188, 0.286) 2px solid;
}

.infoProduct {
    font-size: 18px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.productPageOne {
    margin: 10px;
    width: 30%;
    height: 50%;
}

.productPageTwo {
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-title {
    padding: 1rem 0 .5rem 0;
    text-align: center;
    background-color: rgba(141, 121, 188, 0.813);
    font-family: 'Abhaya Libre', serif;
    margin: 0;
    color: rgb(248, 250, 250);
    font-size: 1.5rem;
    padding-top: 1rem;
}

.product-name {
    color: #898d86;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.5rem;
}

.finish-buy {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-bottom: 15rem;
}
