.imgItemDetail {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

.item-title {
    font-size: 2.5rem;
    padding-top: 2rem;
}
.infoProduct {
    font-size: 18px;
    display: flex;
    align-items: baseline;
}

.productPageOne {
    margin: 10px;
    width: 30%;
    height: 50%;
}

.productPageTwo {
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-title {
    padding: 1rem 0 .5rem 0;
    text-align: center;
    background-color: rgba(149, 113, 233, 0.618);
    font-family: 'Abhaya Libre', serif;
    margin: 0;
    font-size: 2.5rem;
    color: rgb(248, 250, 250);

}