@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');


.navbar-cart {
    position: relative;
    margin-right: 2rem;
    padding: 0.5rem;
}

.total-item {
    padding: 0.1rem 0.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: #e4a4e4;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.2rem;
    color: rgb(40, 39, 39);
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgb(218, 14, 160);
    position: absolute;
    top: 0;
    right: 0;
}