@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.cart-table {
    color: #A3AC9B;
    font-size: 16px;
}

.table-cart {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}