ul {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}

.card-img-top {
    padding-bottom: 15px;
}

ul .card {
    margin: 30px;
}

.card-body {
    display: flex;
    justify-content: center;
}

li { 
    display: flex;
    justify-content: center;
}