@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.helloHome {
    background-image: url(./image/aromaterapia.png);
    height: 50rem;
    margin-top: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.divGral {
    margin-top: 10px;
}

.sldoHome {
    margin-top: 10px;
}

h2 {
    font-family: 'Abhaya Libre', serif;
    font-size: 4vh;
    text-align: center;
    background-color: rgba(255, 254, 254, 0.627);
    /* margin-top: 200px; */

}

h3 {
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    font-size: 2vh;
    padding-top: 200px;
    background-color: rgba(255, 254, 254, 0.627);
    margin-top: 10px;



}