@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.bg-light {
    background-color: #A3AC9B!important;
    font-size: 15px;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
    text-align: left;
}

.nav-link {
    padding-left: 5rem !important;
    position: sticky;
}

ul {
    margin-top: 6px !important;
}

.dropdown-item {
    font-size: 15px;
    color: rgba(0,0,0,.5);;
}

.dropdown-item:hover{
    background-color: rgba(149, 113, 233, 0.162);
}

.cart-widget {
    width: 2rem;
}

.nav-link {
    color: white;
}